* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.loginMain {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #f293d9, #edf964);
    height: 100vh;
}

.loginBox {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
