* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    border-bottom: 2px solid #1B3C73;
    /* flex-wrap: nowrap; */
}
.headingAbout{
    /* border: 1px solid black; */
    border-bottom: 2px solid #1B3C73;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right,antiquewhite,#e4e8ed); */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);     */
}
.message{
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1B3C73;
    background-image: linear-gradient(to right,antiquewhite,#e4e8ed);
    gap: 10px;
    
}
.message-one{
    /* border: 1px solid black; */
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color:antiquewhite; */
    font-size: larger;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 70%;
    /* gap: 10px; */
    
    
}
.Doctor-photo{
    /* border: 1px solid black; */
    background-color: whitesmoke;
    padding: 10px;
    /* height: 150px; */
    
}
.Doctor-message{
    /* border: 1px solid black; */
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.quotes{
    /* border: 1px solid black; */
     border-top: 2px solid #1B3C73;
    border-bottom: 2px solid #1B3C73;
    color: #1B3C73;
    background-image: linear-gradient(to right,antiquewhite,#e4e8ed);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: larger;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.infrastructure{
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,antiquewhite,#e4e8ed);
    border-radius: 4px;
    gap: 10px;
}
.infra{
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    color: #1B3C73;
    font-size: larger;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: 10px;
    width: 70%;
}
.infra img{
    /* border: 1px solid black; */
    padding: 10px;
    height: 150px;
    width: 260px;
}
.infra p{
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
