.reviewMain{
    background-color:whitesmoke;
    /* padding: 10px; */
}
.OverallRating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.OverallRatingBox {
    border-bottom: 2px solid #1B3C73;
    background-color: white;
    /* background-image: linear-gradient(to right,antiquewhite,#e4e8ed); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.OverallRatingOne {
    display: flex;
    flex-direction: column;
    padding: 6px;
}

#overallPara {
    font-weight: 600;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OverallRatingTwo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    font-weight: 500;
}

.WriteReview {
    border-radius: 4px;
    background-color: #335ea9;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.patientThink {
    color: #1B3C73;
    padding: 10px;
    /* background-color:white; */
    /* box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2),0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    text-align: center;
    /* background-image: linear-gradient(to right,antiquewhite,#e4e8ed); */
    border-bottom: 2px solid #1B3C73;
    background-color: whitesmoke;


}

.ReviewBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 60vh; */
    padding: 10px;
    border-bottom: 2px solid #1B3C73;
    background-color: whitesmoke;

    /* background-image: linear-gradient(to right,antiquewhite,#e4e8ed); */


}

.ReviewBoxOne {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    height: 43vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin: 10px;
    
    /* padding: 20px; */
}

.ReviewBoxRating {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ReviewBoxDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ReviewComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */

}

.ReviewCommentpara {
    text-align: center;
    overflow: auto;
    word-break: break-all;
    max-height: 140px;
    width: 200px;
}

/* .dummyPara{
    border: 1px solid black;
} */

.reviewTopCancelButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}