* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.heading {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #1B3C73;

}

.Doctor-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: whitesmoke;
    color: #1B3C73;
    padding: 10px;

}

.DoctorContent {
    border: 1px solid ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 70%;
}

.box1 {
    border: 1px solid #1B3C73;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.box2 {
    border: 1px solid #1B3C73;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.img {
    border: 1px solid #1B3C73;
    padding: 10px;
    width: 240px;
    height: 200px;
}

.box1 p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.AppointmentBtn{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.AppointmentBtn Button {
   
    background-color: #335ea9;
    color: whitesmoke;
    padding: 10px;
}