* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.headingTreatment {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #1B3C73;

}
.list{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.listTypography{
    color: #1B3C73;
}

.treatmentList {
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    border-bottom: 2px solid #1B3C73;

}